.background {
  font-family: Roboto, sans-serif;
  color: white;
  overflow-x: hidden;
  padding-top: 2.75rem;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}

.NavLink {
  -webkit-app-region: no-drag;
  cursor: pointer;
  z-index: 6000;
  color: #b1b1b1;
  margin: 0 1rem;
}

.NavLink:hover {
  color: #fff;
  text-decoration: none;
}

.NavLink svg:hover {
  color: #fff;
  text-decoration: none;
}

.NavLinkCog svg:hover {
  color: #fff;
  text-decoration: none;
}

.NavLinkCog {
  position: absolute;
  right: 0;
  -webkit-app-region: no-drag;
  cursor: pointer;
  z-index: 6000;
  color: #b1b1b1;
  margin: 0 1rem;
}

.NavLinkCog:hover {
  color: #fff;
  text-decoration: none;
}

.NavLinkActive {
  color: #fff;
  margin: 0 1rem;
}

.NavLinkActive:hover {
  color: #fff;
  margin: 0 1rem;
}

.NavLinkSettings {
  position: absolute;
  right: .33rem;
  text-align: right;
  color: #fff;
  margin: 0 1rem;
}

.NavLinkSettings:hover {
  color: #fff;
  text-decoration: none;
}

.NavLinkActiveSettings {
  color: #b1b1b1;
  margin: 0 1rem;
}

.NavLinkActiveSettings:hover {
  color: #b1b1b1;
  margin: 0 1rem;
}

.nav-tabs a {
  color: black;
}

.history {
  margin: 1.5rem 1rem 5rem 0;
}

.NavBarSticky1 {
  background: rgba(42,42,42,1);
  position: fixed;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 3000;
  width: 93.5vw;
  overflow: visible;
  border-bottom: 1px solid rgba(170,170,170,.66);
  height: 2.66rem;
}

.NavBarSticky2 {
  background: rgba(42,42,42,1);
  position: fixed;
  z-index: 3000;
  width: 6.5vw;
  right: 0;
  border-bottom: 1px solid rgba(170,170,170,.66);
  height: 2.66rem;
}

.card_controls svg{
  cursor: pointer;
  margin: 0 .66rem;
}

.card_controls_toplist svg{
  cursor: pointer;
  margin: 0 1rem .5rem 1rem;
}

.card_controls_radio {
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: -.65rem;
  left: .35rem;
  color: white;
  font-size: 3rem;
  background: rgba(20,20,20,.45);
  border-radius: 100rem;
  min-width: 200px;
  height: 200px;
  padding-top: 0;
}

.radioText {
  margin-top: .75rem;
}

.playlistInfo {
  text-align: center;
  margin: 1rem 1rem 0 1rem;
  display: block;
}

.createNewPlaylistButton {
  background: rgba(64,90,116,1);
  border: 1px solid rgba(32,45,58,1);
  display: block;
  margin: 1rem 0 1rem -1rem;
}

.createNewPlaylistButton:hover {
  background: rgba(96,135,174,1);
  border: 1px solid rgba(32,45,58,1);
}

.modal {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-main {
  top: 20%;
  left: 32%;
  margin: 0 2rem;
  padding: 0 2rem;
  min-height: 12rem;
  min-width: 30rem;
  position: fixed;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.topright {
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  font-weight: bolder;
  color: red;
  top: .7rem;
}

.modalContents {
  text-align: left;
}

.modalContents>input {
  margin-top: 0;
  width: 100%;
}

.modalContents>label {
  margin-top: 1.25rem;
  width: 100%;
}

.modalContents>button {
  margin: 2rem 0;
  text-align: center;
  background: rgba(64,90,116,1);
  border: 1px solid rgba(32,45,58,1);
}

.modalContents>button:hover {
  background: rgba(96,135,174,1);
  border: 1px solid rgba(32,45,58,1);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.subtitlePlayCount {
  margin-bottom: .7rem;
}

.queueItem {
  font-size: .6rem;
  text-align: left;
}

.topList {
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.toplistLight {
  padding-top: .5rem;
  background: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(255,255,255,.27) 60%, rgba(255,255,255,.15) 100%);
  color: #000;
  border-top: 1px solid black;
}

.toplistDark {
  padding-top: .5rem;
  background: linear-gradient(90deg, rgba(255,255,255,.15) 0%, rgba(255,255,255,.32) 40%, rgba(255,255,255,.16) 100%);
  color: #000;
  border-top: 1px solid black;
}

.topListEntryTitle {
  margin: 0;
}

.topListEntryPlayCount {
  margin-bottom: 1rem;
}

svg:hover {
  color: #afafaf;
}

.TabControl {
  font-size: 1.15rem;
  margin-left: 1rem;
}

.radioMenu {
  text-align: center;
  margin: 2rem 1rem 3rem 1rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.topList {
  text-align: center;
  margin: 1rem 1rem 3rem 1rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.historyEntries {
  display: flex;
  margin: 2rem 1rem 3rem 0rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.versionheader {
  position: fixed;
  z-index: 2000;
  font-size: .6rem;
  left: .67rem;
  bottom: -.5rem;
}

.controlWindow {
  background: rgba(42,42,42,.84);
  position: absolute;
  right: 0;
  top: 0;
}

.controlWindow>button {
  background: rgba(42,42,42,.84);
}

.minimizeWindow {
  border-radius: unset;
  z-index: 5000;
}

.closeWindow {
  border-radius: unset;
  z-index: 5000;
}

.minimizeWindow svg:hover, .closeWindow svg:hover, .controlWindow>button:hover {
  color: white;
  cursor: pointer;
  background: rgba(64,64,64,.64);
}

.btn svg:hover {
  color: unset;
}

.radioTitle {
  font-size: 2.25rem;
}

.playNow {
  text-align: center;
  color: white;
  background: #464646;
  border-radius: .3rem;
  padding-bottom: 2rem;
  margin: 0 17% 1rem 17%;
}
.playNow h4 {
  margin: 1.33rem 0 1rem 0;
}

.playNowMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playNowMenu input {
  width: 66%;
  margin: 0 1rem;
}

.playNowMenu button:disabled {
  cursor: default;
}

.playNowMenu button {
  margin: 0 .5rem;
}

.styles {
  text-align: center;
  margin: 1rem 0;
}

.styles h5 {
  margin-top: 1rem;
  text-align: center;
}

.styles button {
  margin: 0 1rem;
  border: 2px solid black;
}

.baseUrl input {
  width: 40%;
}

.baseUrl h5 {
  margin-top: 1rem;
}

.bots input {
  width: 40%;
}

.bots h5 {
  margin-top: 1.5rem;
}

.settingsHl {
  text-align: center;
  margin-top: 1rem;
}

.settingsHl>.alert {
  margin: 0 20%;
}

.buttonBorder {
  margin-top: 1rem;
  border: 1px solid white;
}

.buttonBorder:hover {
  border: 1px solid white;
}

.toastcontainer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #6e6e6e;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  z-index: 10000;
}


.spacing {
  padding-right: .7rem;
}

.somemarginleft {
  position: absolute;
  margin-left: .5rem;
  margin-top: .5rem;
}

.trashCan {
  color: red;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.playMenuControls {
  display: flex;
  justify-content: flex-start;
}

.playMenuControls>div {
  margin: 0 1rem;
  cursor: pointer;
}
.playMenuShow>div {
  margin: 0 .5rem;
}

.playMenu {
  background-image: radial-gradient( circle farthest-corner at 20% 50%,  rgba(32,45,58,1) 10%, rgba(43,60,77,1) 71.3% );
  color: white;
  border-top: 1px solid black;
  height: 3.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songsInQueue {
  display: flex;
  flex-direction: column;
  font-size: .75rem;
}

.playMenuShow {
  display: flex;
}

.playMenuTitle {
  padding-top: .25rem;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

.customTabs {
  position: fixed;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(45,46,53,1) 0%, rgba(16,23,29,1) 81.3% );
  border-right: 1px solid black;
  min-height: 90vh;
  height: 100%;
  width: 23%;
  padding: 1rem .5rem 0 .5rem;
}

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link:hover {
  background: rgba(64,90,116,1);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: rgba(96,135,174,1);
  width: 100%;
  color: white;
}

.searchAndPlayDiv {
  min-height: 90vh;
  margin: 1rem 1rem 5rem 1rem;
}

.searchAndPlayDiv input {
  margin: 0 1rem 0 -.8rem;
  text-align: right;
  border-radius: 1rem;
}

.searchAndPlayButton {
  background: rgba(64,90,116,1);
  border: 1px solid rgba(32,45,58,1);
}

.searchAndPlayButton:hover {
  background: rgba(96,135,174,1);
  border: 1px solid rgba(32,45,58,1);
}

.searchResultRow {
  width: 100%;
  border-top: 1px solid white;
  font-size: .8rem;
  padding: .25rem 0;
}

.searchResultRow:hover {
  background: rgba(96,135,174,1);
}

.searchResultRow > div {
  white-space: nowrap;
  overflow: hidden;
}

.searchResultTimeStamp {
  text-align: right;
}

.searchControls>svg {
  cursor: pointer;
  margin: 0 .33rem;
}

.loadingDiv {
  display: flex;
  justify-content: center;
}

.loadingBar {
  position: absolute;
  z-index: 200000;
  top: 3rem;
}

.somemargintop {
  margin-top: 1rem;
}

.firstcol {
  text-align: left;
}

div.react-player__preview:hover {
  cursor: default!important;
}

.cantMarkText {
  user-select: none;
  -webkit-user-select: none;
}
